<%- include("../partials/header") %>

<div class="row">
    <h1 style="text-align: center">Edit <%= campground.name %></h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input class="form-control" type="text" name="name" value="<%= campground.name %>">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" id="image" name="image" accept="image/*">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="description" value="<%= campground.description %>">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Update!</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>

</div>
<div class="bottom text-center">
    Developed By Hardit Singh(Founder)
    <br>
    Onside 2020 
    <a href="http://twitter.com"><img src="https://image.flaticon.com/icons/png/512/124/124021.png" height="25px" width="25px"></img></a>
    <a href="http://instagram.com"><img src="https://www.logo.wine/a/logo/Instagram/Instagram-Logo.wine.svg" height="40px" width="40px"></a>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>